body
{
	background-color: White;
	font-family: Arial, Helvetica, Verdana;
	font-size: small;
}

span
{
	font-family: Arial, Helvetica, Verdana;
	font-size: small;
}

table
{
	font-family: Arial, Helvetica, Verdana;
	font-size: small;
}

div
{
	font-family: Arial, Helvetica, Verdana;
	font-size: small;
}

mouseOver
{
 background-color: Blue;
}

.FormsSemBarra 
{
overflow: auto;
}